#devise
  %h2 Zmień hasło
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      = f.input :password, label: false, placeholder: "Nowe hasło (min. 8 znaków)", required: true, autofocus: true
    .field
      = f.input :password_confirmation, label: false, placeholder: "Potwierdź nowe hasło", required: true
    .actions
      = f.submit "Zmień hasło", class: "btn"
  = render "devise/shared/links"
