#devise
  %h2 Przywracanie hasła
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .field
      = f.email_field :email, label: false, placeholder: "Adres email", required: true, autofocus: true

    .actions
      = f.submit "Wyślij", class: "btn"
  = render "devise/shared/links"
