%h2 Już prawie koniec! W celach bezpieczeństwa musisz ustawić nowe hasło.
= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |form|
  = devise_error_messages!
  
  = form.input :password, placeholder: "Podaj hasło (min. 8 znaków)", label: false, autofocus: true
  = form.input :password_confirmation, placeholder: "Potwierdź hasło", label: false
  = form.input :confirmation_token, :as => :hidden, :input_html => { :value => @original_token }
  
  = form.button :submit, "Zakończ rejestrację", class: "btn"