#devise
  %h2 Już prawie koniec! W celach bezpieczeństwa musisz ustawić nowe hasło.
  = form_for(resource, :as => resource_name, :url => confirm_path) do |form|
    = devise_error_messages!
    = form.hidden_field :confirmation_token, value: @original_token

    .field
      = form.password_field :password, placeholder: "Podaj hasło (min. 8 znaków)", autofocus: true
    .field
      = form.password_field :password_confirmation, placeholder: "Potwierdź hasło"

    .actions
      = form.submit "Zakończ rejestrację", class: "btn"
